@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

//colors
:root {
  --light-blue: #3d9aeb;
  --green: #42f554;
}
html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto";
}
